$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "compass/reset";
// endbower
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
  background: black;
  color: white;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.5;
  padding: 15px 0;
  vertical-align: middle;
  position: fixed;
  z-index: 100;
  width: 100%;
  button {
    border-radius: 5px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.holder {
  padding-top: 20px;
}

.filter-sort {
  position: fixed;
  z-index: 90;
  h4 {
    padding: 8px 0;
    line-height: 1.4;
    font-weight: bold;
  }
  input {
    border-radius: 3px;
    padding: 3px;
    border: 1px solid #999;
  }
  .filter {
    margin-top: 40px;
  }
}

.song-list {
  thead {
    td {
      cursor: pointer;
      span.glyphicon {
        top: 3px;
        left: 3px;
      }
    }
  }
  td {
    text-transform: capitalize;
  } 
}

@media screen and (max-width: 736px) {
  .container {
    padding: 0 5%;
  }
  .header {
    padding: 5px 0;
    box-shadow: 0 0 5px #000;
    .button {
      width: 15%;
      overflow: hidden;
      display: inline-block !important;
      span {
        vertical-align: middle;
        top: -2px;
      }
    }
    h1 {
      text-transform: uppercase;
      font-size: 20px;
      margin: 0 3%;
      width: 58%;
      display: inline-block;
      text-align: center;
    }
  }
}


