$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "compass/reset";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
  background: black;
  color: white;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.5;
  padding: 15px 0;
  vertical-align: middle;
  position: fixed;
  z-index: 100;
  width: 100%;
  h1 {
    float: left;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
  }
  p {
    float: right;
    font-size: 14px;
    line-height: 2.5;
    font-weight: normal;
  }
  button {
    border-radius: 5px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

button.dt-review {
  font-size: 14px;
  width: auto;
  padding: 10px;
  float: right;
  border: none;
}

.holder {
  padding-top: 20px;
}

.filter-sort {
  position: fixed;
  z-index: 90;
  h4 {
    padding: 0 0 8px 0;
    font-weight: bold;
  }
  input {
    border-radius: 3px;
    padding: 3px 5px;
    border: 1px solid #999;
  }
  .filter {
    margin-top: 25px;
    li {
      margin-bottom: 10px;
    }
  }
}

.filter-list {
  font-size: 12px;
  margin-bottom: 15px;
  line-height: 1.5;
  .items {
    text-transform: capitalize;
    &:after {
      content: ', '
    }
    &:last-child:after {
      content: '';
    }
  }
}

.song-list {
  thead {
    td {
      cursor: pointer;
      span.glyphicon {
        font-size: 10px;
        left: 3px;
      }
    }
  }
  td {
    text-transform: capitalize;
    vertical-align: middle !important;
  } 
}

input[type=checkbox]:focus, input[type=text]:focus, button:focus {
  outline: none;
}

.selected-songs {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  height: 100%;
  width: 80%;
  padding: 50px;
  background: rgba(0,0,0,0.9);
  color: white;
  transform: scaleX(0.00001);
  transform-origin: 100% 50%;
  transition: transform 0.2s ease-in-out;
  .tempo {
    li {
      margin-bottom: 30px;
    }
    h5 {
      font: bold 20px 'Montserrat', 'Helvetica Neue', sans-serif;
      border-bottom: 1px dotted rgba(255,255,255,0.5);
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  }
  .songs li {
    font-weight: normal;
    margin-bottom: 10px;
    &:before {
      content: '- '
    }
  }
  &.expand {
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    transform: scaleX(1);
    transition: transform 0.2s ease-in-out;
  }
}

.closer {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.selected-songs .selector-holder:first-of-type {
  padding-right: 4%;
  width: 58%;
}

.selector-holder {
  width: 38%;
  display: inline-block;
  vertical-align: top;
  h4 {
    text-transform: uppercase;
    font: bold 30px 'Montserrat', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
  }
  input {
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #999;
    margin-bottom: 20px;
    color: black;
  }
  button {
    color: black;
    background: white;
    float: right;
    padding: 10px;
    border: none; 
    border-radius: 5px;
    font: bold 20px 'Montserrat', 'Helvetica Neue', sans-serif;
    border: 1px solid rgba(255,255,255,0.4);
    transition: background 0.1s ease-in-out;
    &.disabled {
      background: #444;
      transition: background 0.1s ease-in-out;
    }
  }
}

//Custom Checkbox Font Icon Replacement
input[type=checkbox] { 
  display:none;
  + label:before {
    font-family: FontAwesome;
    font-size: 20px;
    display: inline-block;
    content: "\f096";
    letter-spacing: 10px;
    cursor: pointer;
  }
  &.filter + label:before {
    content: "\f1db";
    position: relative;
    top: 3px;
  }
  &:checked + label:before {
    content: "\f046";
    letter-spacing: 5px;
  }
  &.filter:checked + label:before {
    content: "\f055";
    letter-spacing: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .filter-sort {
    font-size: 14px;
    input {
      font-size: 12px;
    }
  }
}


@media only screen and (max-width: 767px) {
  .container {
    padding: 0 2%;
  }
  .col-xs-12 {
    padding: 0;
  }
  .header {
    padding: 5px 0;
    box-shadow: 0 0 5px #000;
    .button {
      width: 15%;
      overflow: hidden;
      display: inline-block !important;
      span {
        vertical-align: middle;
        top: -2px;
      }
    }
    h1 {
      float: none;
      text-transform: uppercase;
      font-size: 20px;
      margin: 0 3%;
      width: 58%;
      display: inline-block;
      text-align: center;
    }
  }
  input[type=checkbox] { 
    + label:before {
      font-size: 28px;
      line-height: 1;
    }
  }
  .filter-col {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 200;
    color: white;
    transform: scaleX(0.00001);
    transform-origin: 0 50%;
    transition: transform 0.2s ease-in-out;
    input {
      color: black;
      width: 100%;
    }
    &.expand {
      box-shadow: 0 0 10px rgba(0,0,0,0.8);
      transform: scalex(1);
      transition: transform 0.2s ease-in-out;
    }
    .filter-sort {
      width: 100%;
      position: relative;
      overflow: scroll;
      max-height: 100%
    }
  }
  td.checked {
    width: 16%;
  }
  .selected-songs {
    position: fixed;
    padding: 20px;
    width: 100%;
  }
  .closer {
    right: 10px;
    top: 10px;
  }
  .selected-holder {
    padding: 0;
    width: 100%;
    position: relative;
    overflow: scroll;
    max-height: 100%;
  }
  .selected-songs .selector-holder:first-of-type, .selected-songs .selector-holder {
    padding: 0;
    width: 100%;
    margin-bottom: 40px;
    h4 {
      font-size: 20px;
    }
    .tempo h5 {
      font-size: 15px;
    }
    .songs li {
      font-size: 14px;
    }
  }
}


//Utility Classes
.display-none {
  display: none;
}

.fixed {
  overflow: hidden;
  @media only screen and (max-width: 767px) {
    position: fixed;
  }
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.lowercase {
  text-transform: lowercase;
}

.disabled {
  color: rgba(255,255,255,0.2);
}

input:focus, button:focus {
  outline: none;
}


