$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "compass/reset";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
  background: black;
  color: white;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.5;
  padding: 15px 0;
  vertical-align: middle;
  position: fixed;
  z-index: 100;
  width: 100%;
  h1 {
    float: left;
  }
  p {
    float: right;
    font-size: 14px;
    line-height: 2.5;
    font-weight: normal;
  }
  button {
    border-radius: 5px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

button.dt-review {
  font-size: 14px;
  width: auto;
  padding: 10px;
  float: right;
  border: none;
}

.holder {
  padding-top: 20px;
}

.filter-sort {
  position: fixed;
  z-index: 90;
  h4 {
    padding: 8px 0;
    line-height: 1.4;
    font-weight: bold;
  }
  input {
    border-radius: 3px;
    padding: 3px;
    border: 1px solid #999;
  }
  .filter {
    margin-top: 25px;
    li {
      margin-bottom: 10px;
    }
  }
}

.song-list {
  thead {
    td {
      cursor: pointer;
      span.glyphicon {
        font-size: 10px;
        left: 3px;
      }
    }
  }
  td {
    text-transform: capitalize;
    vertical-align: middle !important;
  } 
}

input[type=checkbox]:focus, input[type=text]:focus, button:focus {
  outline: none;
}

.selected-songs {
  position: absolute;
  z-index: 200;
  top: 0;
  right: 0;
  height: 100%;
  width: 80%;
  padding: 50px;
  background: rgba(0,0,0,0.6);
  color: white;
  transform: scaleX(0.00001);
  transform-origin: 100% 50%;
  transition: transform 0.3s ease-in-out;
  li {
    font-weight: bold;
    margin-bottom: 10px;
    &:before {
      content: '- '
    }
  }
  &.expand {
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out;
  }
}

.closer {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

//Custom Checkbox Font Icon Replacement
input[type=checkbox] { 
  display:none;
  + label:before {
    font-family: FontAwesome;
    font-size: 20px;
    display: inline-block;
    content: "\f096";
    letter-spacing: 10px;
    cursor: pointer;
  }
  &.filter + label:before {
    content: "\f1db";
    position: relative;
    top: 3px;
  }
  &:checked + label:before {
    content: "\f046";
    letter-spacing: 5px;
  }
  &.filter:checked + label:before {
    content: "\f055";
    letter-spacing: 10px;
  }
}


@media screen and (max-width: 736px) {
  .container {
    padding: 0 2%;
  }
  .col-xs-12 {
    padding: 0;
  }
  .header {
    padding: 5px 0;
    box-shadow: 0 0 5px #000;
    .button {
      width: 15%;
      overflow: hidden;
      display: inline-block !important;
      span {
        vertical-align: middle;
        top: -2px;
      }
    }
    h1 {
      float: none;
      text-transform: uppercase;
      font-size: 20px;
      margin: 0 3%;
      width: 58%;
      display: inline-block;
      text-align: center;
    }
  }
  input[type=checkbox] { 
    + label:before {
      font-size: 28px;
      line-height: 1;
    }
  }
  .filter-col {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    width: 80%;
    padding: 20px;
    overflow: hidden;
    z-index: 200;
    color: white;
    transform: scaleX(0.00001);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-in-out;
    &.expand {
      box-shadow: 0 0 30px rgba(0,0,0,0.5);
      transform: scalex(1);
      transition: transform 0.3s ease-in-out;
    }
    .filter-sort {
      position: relative;
    }
  }
  td.checked {
    width: 16%;
  }
  .selected-songs {
    &.expand {
      padding: 20px;
    }
  }
}


//Utility Classes
.display-none {
  display: none;
}


