<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dallas &amp; Doll - Song List Selector</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body data-ng-app="ddSongSelectApp" data-ng-controller="MainCtrl as main">
    
    <div class="header" selected-song-list>
      <div class="container">
        <div class="button visible-xs">
          <button class="" aria-label="filtering options" data-ng-click="optionOpen = !optionOpen; reviewOpen = false; main.topShim()">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          </button>
        </div>
        <h1>Dallas &amp; Doll <span class="hidden-sm hidden-xs normal lowercase">- tell us what to play! </h1>
        <p class="direction hidden-xs" data-ng-if="!main.selectedSongs.length">Choose songs to add them to your list</p>
        <button class="hidden-xs dt-review" data-ng-click="reviewOpen = !reviewOpen; optionOpen = !optionOpen" data-ng-show="main.selectedSongs.length">Review My Song List</button>
        <div class="button visible-xs">
          <button class="" aria-label="review song selection" data-ng-class="{'disabled': !main.selectedSongs.length}" data-ng-disabled="!main.selectedSongs.length" data-ng-click="reviewOpen = !reviewOpen; optionOpen = false; main.topShim()">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>

    <div header-offset class="container holder">
    <div data-ng-view=""></div>
    </div>



    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/directives/header-offset.js"></script>
        <script src="scripts/filters/inarray.js"></script>
        <!-- endbuild -->
</body>
</html>
