<table class="table table-striped song-list">
  <thead>
    <tr>
      <td>
        
      </td>
      <td ng-click="main.sortType = 'song.title'">
        Title
        <span ng-show="main.sortType == 'song.title'" class="glyphicon glyphicon-triangle-bottom"></span>
      </td>
      <td ng-click="main.sortType = 'song.artist'">
        Artist
        <span ng-show="main.sortType == 'song.artist'" class="glyphicon glyphicon-triangle-bottom"></span>
      </td>
      <td class="hidden-xs" ng-click="main.sortType = 'genre'">
        Genre
        <span ng-show="main.sortType == 'song.genre'" class="glyphicon glyphicon-triangle-bottom"></span>
      </td>
      <td class="hidden-xs" ng-click="main.sortType = 'song.tempo'">
        Tempo
        <span ng-show="main.sortType == 'song.tempo'" class="glyphicon glyphicon-triangle-bottom"></span>
      </td>
    </tr>
    <tr data-ng-repeat="song in main.songList.songlist.songs | orderBy:main.sortType">
      <td>
        <input type="checkbox" name="selectedSongs[]" value="{{song.title}} - {{song.artist}}">
      </td>
      <td>
        {{song.song.title}}
      </td>
      <td>
        {{song.song.artist}}
      </td>
      <td class="hidden-xs">
        {{song.song.genre}}
      </td>
      <td class="hidden-xs">
        {{song.song.tempo}}
      </td>
    </tr>
  </thead>
</table>

