<div class="col-sm-3 filter-col" data-ng-class="{'expand': optionOpen}">
  <span class="closer visible-xs" data-ng-click="main.closer()"><i class="fa fa-times"></i></span>
  <div class="filter-sort">
    <h4>Search for songs</h4>
    <div class="search">
      <input type="text" value="" placeholder="Song or Artist Name" ng-model="searchSongs">
    </div>
    <div class="filter">
      <h4>Filter by Genre</h4>
      {{main.genreInclude}}
      <ul>
        <li data-ng-repeat="genre in main.songGenres"><input type="checkbox" id="GenreFilter-{{genre}}" class="filter" data-ng-click="main.clickFilter(genre, 'genre')"><label for="GenreFilter-{{genre}}">{{genre}}</label></li>
      </ul>
    </div>
    <div class="filter">
      <h4>Filter by Tempo</h4>
      <ul>
        <li data-ng-repeat="tempo in main.songTempos"><input type="checkbox" id="TempoFilter-{{tempo}}" class="filter" data-ng-click="main.clickFilter(tempo, 'tempo')"><label for="TempoFilter-{{tempo}}">{{tempo}}</label></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-xs-12">
  <p class="filter-list">Viewing <span class="bold">{{main.filteredSongs.length}}</span> of <span class="bold">{{main.allSongsTotal}}</span> songs <span ng-if="main.filteredSongs.length < main.allSongsTotal">in "<span class="items" data-ng-if="searchSongs">Search: {{searchSongs}}</span><span class="items" data-ng-repeat="genre in main.genreFilter">{{genre}}</span><span class="items" data-ng-repeat="tempo in main.tempoFilter">{{tempo}}</span>"</span></p>
  <table class="table table-striped song-list">
    <thead>
      <tr>
        <td class="checked" data-ng-click="main.sortType = '-checked'" width="6%">
          <i class="fa fa-check"></i>
          <span data-ng-show="main.sortType == '-checked'" class="glyphicon glyphicon-triangle-bottom hidden-md hidden-sm"></span>
        </td>
        <td data-ng-click="main.sortType = 'song.title'" width="44%">
          Title
          <span data-ng-show="main.sortType == 'song.title'" class="glyphicon glyphicon-triangle-bottom hidden-md hidden-sm"></span>
        </td>
        <td data-ng-click="main.sortType = 'song.artist'" width="26%">
          Artist
          <span data-ng-show="main.sortType == 'song.artist'" class="glyphicon glyphicon-triangle-bottom hidden-md hidden-sm"></span>
        </td>
        <td class="hidden-xs" data-ng-click="main.sortType = 'song.genre'" width="12%">
          Genre
          <span data-ng-show="main.sortType == 'song.genre'" class="glyphicon glyphicon-triangle-bottom hidden-md hidden-sm"></span>
        </td>
        <td class="hidden-xs" data-ng-click="main.sortType = 'song.tempo'" width="12%">
          Tempo
          <span data-ng-show="main.sortType == 'song.tempo'" class="glyphicon glyphicon-triangle-bottom hidden-md hidden-sm"></span>
        </td>
      </tr>
    </thead>
      <tr data-ng-repeat="song in main.filteredSongs = (main.songList.songlist.songs | orderBy: main.sortType | filter: searchSongs | inArray:main.genreFilter:'genre' | inArray:main.tempoFilter:'tempo')" data-ng-init="song.checked=false">
        <td>
          <input type="checkbox" id="{{song.song.title}}" data-ng-model="song.checked" data-ng-click="main.selectSong(song)">
          <label for="{{song.song.title}}"><span class="display-none">{{song.song.title}}</span></label>
        </td>
        <td>
          <h2>{{song.song.title}}</h2>
        </td>
        <td>
          <h3>{{song.song.artist}}</h3>
        </td>
        <td class="hidden-xs">
          {{song.song.genre}}
        </td>
        <td class="hidden-xs">
          {{song.song.tempo}}
        </td>
      </tr>
    </thead>
  </table>
</div>

<div class="selected-songs" data-ng-class="{'expand': reviewOpen}">
  <span class="closer" data-ng-click="main.closer()"><i class="fa fa-times"></i></span>
  <div class="selected-holder">
    <div class="selector-holder">
      <h4>Your song list</h4>
      <ul class="tempo">
        <li data-ng-repeat="tempo in main.songTempos | orderBy: tempo">
          <h5>{{tempo}}</h5>
          <ul class="songs">
            <li data-ng-repeat="song in (filteredTempo = (main.selectedSongs | filter:{tempo:tempo}))"><span class="bold">{{song.title}}</span> - {{song.artist}}</li>
            <li ng-if="!filteredTempo.length">No <span class="lowercase">{{tempo}}</span> songs selected</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="selector-holder">
      <h4>Send us your songs</h4>
      <input type="text" name="name" value="" placeholder="Name" data-ng-model="main.send.name" required>
      <input type="email" name="email" value="" placeholder="Email" data-ng-model="main.send.email" required>
      <button type="button" name="button" data-ng-class="{'disabled': !main.send.name || !main.send.email}" data-ng-disabled="!main.send.name && !main.send.email" data-ng-click="main.submitter()">All Finished!</button>
    </div>
  </div>
</div>

<div class="success" data-ng-class="{'show': showThanks}">
  <span class="closer" data-ng-click="main.closer()"><i class="fa fa-times"></i></span>
  <h6>Thanks for sending us your song selections!</h6>
  <p>We'll put this in our notes for your event.</p>
</div>