<div class="col-sm-3 hidden-xs">
  <div class="filter-sort">
    <h4>Narrow The List</h4>
    <div class="search">
      <input type="text" value="" placeholder="Search..." ng-model="searchSongs">
    </div>
    <div class="filter">
      <h4>Filter by Genre</h4>
      {{main.genreInclude}}
      <ul>
        <li data-ng-repeat="genre in main.songGenres"><input type="checkbox" id="GenreFilter-{{genre}}" class="filter" data-ng-click="main.clickFilter(genre, 'genre')"><label for="GenreFilter-{{genre}}">{{genre}}</label></li>
      </ul>
    </div>
    <div class="filter">
      <h4>Filter by Tempo</h4>
      <ul>
        <li data-ng-repeat="tempo in main.songTempos"><input type="checkbox" id="TempoFilter-{{tempo}}" class="filter" data-ng-click="main.clickFilter(tempo, 'tempo')"><label for="TempoFilter-{{tempo}}">{{tempo}}</label></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-xs-12">
  <table class="table table-striped song-list">
    <thead>
      <tr>
        <td data-ng-click="main.sortType = 'checked'" width="6%">
          <i class="fa fa-check"></i>
          <span data-ng-show="main.sortType == 'checked'" class="glyphicon glyphicon-triangle-bottom"></span>
        </td>
        <td data-ng-click="main.sortType = 'song.title'" width="44%">
          Title
          <span data-ng-show="main.sortType == 'song.title'" class="glyphicon glyphicon-triangle-bottom"></span>
        </td>
        <td data-ng-click="main.sortType = 'song.artist'" width="26%">
          Artist
          <span data-ng-show="main.sortType == 'song.artist'" class="glyphicon glyphicon-triangle-bottom"></span>
        </td>
        <td class="hidden-xs" data-ng-click="main.sortType = 'song.genre'" width="12%">
          Genre
          <span data-ng-show="main.sortType == 'song.genre'" class="glyphicon glyphicon-triangle-bottom"></span>
        </td>
        <td class="hidden-xs" data-ng-click="main.sortType = 'song.tempo'" width="12%">
          Tempo
          <span data-ng-show="main.sortType == 'song.tempo'" class="glyphicon glyphicon-triangle-bottom"></span>
        </td>
      </tr>
    </thead>
      <tr data-ng-repeat="song in main.songList.songlist.songs | orderBy: main.sortType | filter: searchSongs | inArray:main.genreFilter:'genre' | inArray:main.tempoFilter:'tempo'">
        <td>
          <input type="checkbox" id="{{song.song.title}}" data-ng-model="song.checked" data-ng-click="main.selectSong(song)">
          <label for="{{song.song.title}}"><span class="display-none">{{song.song.title}}</span></label>
        </td>
        <td>
          <h2>{{song.song.title}}</h2>
        </td>
        <td>
          <h3>{{song.song.artist}}</h3>
        </td>
        <td class="hidden-xs">
          {{song.song.genre}}
        </td>
        <td class="hidden-xs">
          {{song.song.tempo}}
        </td>
      </tr>
    </thead>
  </table>
</div>

<div class="selected-songs">
  <ul>
    <li data-ng-repeat="song in main.selectedSongs">{{song.title}}</li>
  </ul>
</div>